/* Основные стили для страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #060a10; /* Темно-синий фон */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Обеспечиваем высоту 100% для правильного центрирования */
  overflow: hidden; /* Отключаем прокрутку */
}

/* Контейнер с контентом */
.container {
  text-align: center;
  background-color: #acfac6; /* Белый фон контейнера */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(206, 162, 162, 100);
  width: 100%;
  max-width: 400px; /* Максимальная ширина контейнера */
  box-sizing: border-box;
}

/* Стиль для картинки в верхней части */
.header-image {
  max-width: 100%; /* Картинка будет растягиваться по ширине контейнера */
  height: auto;
  margin-bottom: 20px; /* Отступ снизу, чтобы кнопка не была слишком близко к картинке */
}

/* Стиль кнопки */
.whatsapp-button {
  background-color: #25D366; /* Зеленый цвет WhatsApp */
  color: white; /* Белый цвет текста */
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Кнопка будет растягиваться по ширине контейнера */
  max-width: 300px; /* Максимальная ширина кнопки */
}

.whatsapp-button:hover {
  background-color: #128C7E; /* Темный зеленый при наведении */
}
