/* Основные стили для страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #060a10; /* Темно-синий фон */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Обеспечиваем высоту 100% для правильного центрирования */
  overflow: hidden; /* Отключаем прокрутку */
  flex-direction: column; /* Размещение элементов по вертикали */
}

/* Анимация для плавного появления */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анимация для плавного исчезновения */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Новый контейнер для блоков выбора языка */
.language-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: #25D366; /* Зеленый фон */
  padding: 10px 0;
  box-sizing: border-box;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Контейнер для блоков выбора языка */
.language-selection-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

/* Блоки выбора языка */
.language-selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

/* Маленькие контейнеры для каждого флага */
.language-option {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

/* Настроим картинки флагов */
.language-option img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Текст под флагами */
.languages-text {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* Контейнер с контентом (основной блок) */
.container {
  text-align: center;
  background-color: #acfac6;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(206, 162, 162, 100);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-out forwards;
  display: none;
}

/* Стиль для картинки в верхней части */
.header-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Стиль кнопки */
.whatsapp-button {
  background-color: #25D366;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

/* Стиль кнопки возврата (стрелка) */
.back-button {
  background-color: #fff;
  color: #25D366;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  display: none;
}

.back-button:hover {
  background-color: #128C7E;
}
